# Dependency directories
node_modules/

# Build output
dist/
*.js
!package.json
!knexfile.ts
*.d.ts
*.map

# Database
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock